.App {
  background-image: url('./assets/backgroundStyle2.jpeg');
  background-size:contain;
  background-repeat: no-repeat;
  text-align: center;
}
.containerTitle{
  display: flex;
  flex-direction: row-reverse;
  box-sizing: border-box;
  height: 15vh;
  width: 100%;
  padding: 2rem 8rem 0 0;
  font-family: Arial, Helvetica, sans-serif monospace;
  font-size: 6rem;
  background-color: white;
}
.containerCard{
  padding: 5rem;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  height: 85vh;
  justify-content: space-around;
  width: auto;
}
