.App {
  background-image: url('./assets/backgroundStyle2.jpeg');
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
  text-align: center;
  width: 100%;
}
.containerTitle{
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  color: #404145;
  display: flex;
  flex-direction: row-reverse;
  font-family: Arial, Helvetica, sans-serif monospace;
  font-size: 6rem;
  height: 15vh;
  padding: 2rem 8rem 0 0;
  position: absolute;
  width: 100%;
}
.containerCard{
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: space-around;
  padding: 5rem;
  width: auto;
}
