$black: rgb(0, 0, 0);

.signup{
  color: $black;
  display: flex;
  flex-direction: column;
  font-size: 2.2rem;
  font-weight: bold;

  .signup__title{
    text-align: center;
    font-size: 2.5rem;
    margin: 1rem 0rem;
  }

  .signup__text{
    margin: 2rem 0rem 0.5rem 0rem;
  }

  #password{
    margin-bottom: 3rem;
  }
}

.signup__submit{
  margin: 2rem;
}
