$gray: rgb(23, 31, 31);
$blue: rgb(33, 74, 84);
$orange: rgb(212, 140, 102);
$yellow: rgb(217, 196, 125);
$white: rgb(232, 232, 193);

.signup{
  color: $gray;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: bold;

  &__title{
    font-size: 2.5rem;
    margin: 2rem 0rem 1rem;
    text-align: center;
  }

  &__text{
    margin: 1rem 0rem 0.5rem 0rem;
  }
  &__error{
    color: $orange;
    font-size: 1rem;
    font-weight: lighter;
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  input{
    background-color: $white;
    border-color: $gray;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 0.2rem;
    font-size: 1.7rem;
  }
}
