$gray: rgb(23, 31, 31);
$blue: rgb(33, 74, 84);
$orange: rgb(212, 140, 102);
$yellow: rgb(217, 196, 125);
$white: rgb(232, 232, 193);

.schedule {
  display: flex;
  flex-direction: column;

  &__form {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 700;
    gap: 3rem;
  }
}
