.purchaser {

  &__body {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    width: 90%;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    justify-content: flex-start;
  }
}


@media (min-width: 1025px) {

}
