.purchaser {

  &-title__container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &-filter__container {
    position: absolute;
    width: 20%;
    right: 10%;
    top: 10px;
  }
  &__title {
    font-size: 3rem;
    font-weight: 700;
    padding-top: 5rem;
    text-align: center;
  }

  &__body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    width: 90%;
  }
}
.purcasher--list__container{
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  margin-bottom: 5rem;
}
.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


@media (min-width: 1025px) {

}
