.purcasher {
  background-image: url('../../assets/background.jpeg');
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
  display: block;
  text-align: center;
}

.purcasher_list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  margin: 2rem auto;
  width: 95%;
}

@media (min-width: 1025px) {

}
