*{margin: 0; padding: 0;}

.containerCard__cardbox{
    height: 100px;
    position: relative;
    width: 150px;
}
.containerCard__cardbox--imageBackground{
    border-radius: 1rem;
    height: 100px;
    width: 150px;
}
.containerCard__cardbox--nameService{
    background:linear-gradient(rgba(0, 0, 0, 0.753), rgba(128, 128, 128, 0));
    border-radius: 1rem;
    color: white;
    font-family:Helvetica, sans-serif;
    padding: 1rem;
    position: absolute;
    text-align: center;
    top: 0;
    width: 150px;
}
@media (min-width:1025px){
    .containerCard__cardbox{
        height: 345px;
        position: relative;
        width: 273px;
    }
    .containerCard__cardbox--imageBackground{
        border-radius: 1rem;
        height: 345px;
        width: 273px;
    }
    .containerCard__cardbox--nameService{
        background:linear-gradient(rgba(0, 0, 0, 0.753), rgba(128, 128, 128, 0));
        border-radius: 1rem;
        color: white;
        font-family:Helvetica, sans-serif;
        padding: 1rem;
        position: absolute;
        top: 0;
        width: 273px;
    }
}