$white: rgb(242, 242, 242);
$soft-grey: rgb(191, 191, 191);
$dark-grey: rgb(130, 130, 130);
$black: rgb(0, 0, 0);

.button{
  background-image: linear-gradient(to bottom right, $white, $soft-grey);
  border-color: black;
  border-style: solid;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  width: auto;

  &:hover{
    background-image: linear-gradient(to bottom right, $white, $dark-grey);
    transform: scale(1.03);
  }

  &:active{
    background-image: linear-gradient(to bottom right, $white, $dark-grey);
    transform: scale(0.98);
  }
}
