.button{
  background-image: linear-gradient(to bottom right, rgb(255, 255, 255),rgb(220, 220, 255));
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  width: auto;
}
