@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
:root{
  /*Colors*/
  --primaty-tone:#005AC5;
  --cover-primary: white;
  --main-containers:#001A43;
  --secundary-tone: #575E71;
  --tertiary-tone:#D6E2FF;
  --neutral-tone:#5E5E61;
}

*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
html{
font-size: 62.5%;
font-family: 'DM Sans', sans-serif;
background-image:url("../assets/background-image.webp");
}
header{
  width: 100%;
  min-width: 320px;
  text-align: center;
  padding-top: 40px;
}
.logo_container{
  max-height: 300px;
  padding-bottom: 40px;
}
.logo{
  width: 70%;
  height: 70%;
  max-height: 200px;
}
.header_container{
  background-color: #001A43;
  width: 100%;
  align-self: center;
  margin-bottom: 50px;
}
.header_container--title{
  align-self: center;
  margin: auto;
}
.header_container--title p{
  font-size: 2rem;
  font-weight: bold;
  line-height: 5.8rem;
  color:var(--cover-primary);
  margin: auto;
}
.WorkIt{
  font-size: 7rem;
  margin-top: 0px;
  font-weight: bold;
  line-height: 5.8rem;
  color:#F7931A ;
  margin: auto;

}
.finder_section{
  text-align: center;
  padding-left: 9%;
}
.finder_section--container{
  width: 90%;
  height: 100%;
  background-color: var(--tertiary-tone);
  border-radius: 5px;
  border: #001A43;
  border-style:groove;
  height: 80px;
  display: flex;
  justify-content: space-around;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 20px;
}
.finder_section--container span{
  justify-content: space-around;
}

.section_finder--span{
  max-width: 85px;
  text-align: center;
  border-style:dotted;
}
.finder_section--container p{
  font-weight: bold;
  font-size: 1.06rem;
  padding-bottom: 5px;
  text-align: center;
}
.seller_container{
  background-color: var(--tertiary-tone);
  margin-top: 30px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: #001A43;
  border-style: groove;
  margin-left:0.4px;
  margin-right:0.4px;
}
.seller_container .seller_container--square{
  margin:30px;
  display:block;
  background-color:var(--secundary-tone);
  max-width: 90%;
  border-radius: 10px;
  min-width: 80%;
  padding-bottom: 5px;
}
.seller_photo{
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding-top: 20px;
}
.seller_photo--image{
  border-radius: 200px;
  width: 30%;
  height: 30%;
}
.seller_data{
  padding-top: 20px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color:  var(--tertiary-tone);
}
.seller_data--item{
  font-size: 2rem;

}
.seller_calification{
  display: flex;
  justify-content:center;
  width: 100%;
}
.seller_calification--item{
  max-width: 50px;
  max-height: 50px;
}
.seller_coments{
  text-align: center;
}
.seller_coments--text{
  font-size: 1rem;
  font-weight: bolder;
  color:  var(--tertiary-tone);
}
.seller_coments--link{
  font-size: 1.5rem;
  color: var(--cover-primary);
}
.seller_schedule{
text-align: center;
margin-top: 10px;
}
.seller_schedule--link{
  font-size: 2rem;
  color: var(--tertiary-tone);
}
.seller_button{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.seller_button--item{
  background-color: var(--tertiary-tone);
  border-radius: 20px;
  width: 100px;
  height: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--main-containers);
}
.shoppingcar_container{
  background-color:var(--tertiary-tone);
  margin-top: 30px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: #001A43;
  border-style: groove;
  margin-bottom: 20px;
}
.shoppingcar_tittle{
  text-align: center;
}
.shoppingcar_tittle--item{
  font-size: 2rem;
  font-weight: bold;
  color: var(--main-containers);
}
.shoppingcar_table{

  background-color: var(--secundary-tone);
  border: #001A43;
  border-style:double;
  display:flex;
  justify-content: space-around;
  max-width: 90%;
  border-radius: 10px;
  min-width: 90%;
  padding-bottom: 5px;
  color:var(--tertiary-tone);
  font-size: 1.5rem;
  margin-left: 5%;
  margin-bottom: 15px;
  margin-top: 15px;
}
.shoppingcar_table--file{
  line-height:1rem;
}
.shoppingcar_table--column{
  padding: 10px;
}
.shoppingcar_buttons{
  display: flex;
  justify-content: space-around
}
.shoppingcar_buttons--item{
  background-color:var(--primaty-tone);
  border-radius: 20px;
  width: 100px;
  height: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--main-containers);
}
nav .menu-btn i{
  display: block;
  position: absolute;
  top:20px;
  right: 20px;
  color: var(--primaty-tone);
  font-size: 30px;
  cursor: pointer;
}
.click{
  display: none;
}
#click:checked ~ .menu-btn i:before{
  content: "\f00d";
}
nav ul{
  padding-top: 50px;
  position: fixed;
  top: 0px;
  left: -100%;
  background: #001A43;
  height: 100vh;
  width: 100%;
  text-align: center;
  display: block;
  transition: all 0.05s ease;
}
#click:checked ~ ul{
  left: 0;
}
nav ul li{
  width: 100%;
  margin: 40px 0;
}
nav ul li a{
  width: 100%;
  margin-left: -100%;
  display: block;
  font-size: 20px;
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#click:checked ~ ul li a{
  margin-left: 0px;
}
nav ul li a.active,
nav ul li a:hover{
  background: none;
  color: cyan;
}
@media (min-width: 480px){
.seller_container{
margin-left: 10px;
margin-right: 10px;
}
.shoppingcar_container{
margin-left: 10px;
margin-right: 10px;
}
}
@media (min-width: 768px){
.seller_container{
  margin-left: 40px;
  margin-right: 40px;
  }
  .shoppingcar_container{
  margin-left: 40px;
  margin-right: 40px;
  }
}
@media (min-width: 1025px){
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.05s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: #111;
    background: #fff;
  }
  nav .menu-btn i{
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    top:30px;
    right: 30px;

  }
  input[type="checkbox"]{
    display: none;
  }
  header{
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding-top: 0;
    gap:1rem;
    min-width: 100%;
    justify-content: center;
    align-items: center;
  }
  header .logo_container{
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  header .logo{
    width: 80%;
    height: 80%;
    margin-bottom: 30px;
  }
  header .header_container{
    margin-bottom: 0px;
    margin-bottom: 30px;
    min-height: 100%;
  }
  header .header_container--title{
    padding-top:7.5%;
    display: flex;
    justify-content: space-around;
    min-height: 100%;
  }
  .finder_section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin:20px ;
  }
  section .finder_section--container{
  width: 100%;
  height: 100%;
  background-color: var(--tertiary-tone);
  border-radius: 0px;
  border:none;
  border-style:none;
  height: 80px;
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  padding-right: 0;
  padding-top: 20px;
  box-shadow: 0.3rem 0.3rem 0.3rem #575E71 ;
  }
  .main_body{
    display: grid;
    grid-template-columns: 4fr 2fr;
  }
  .seller_container{
    justify-content: center;
    padding-bottom: 10px;
    margin-left:10px;
    margin-right:0px;
    margin-bottom: 50px;
  }
  .seller_container .seller_container--square{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px;
  }
  .seller_photo{
    padding-top: 0;
  }
  .seller_photo--image{
  border-radius: 200px;
  width: 90%;
  height: 90%;
  padding-left: 5%;
  }
  .seller_calification--item{
    max-width: 15%;
  }
  .seller_data{
    padding-left: 2%;
    min-width: 20%;

  }
  .seller_coments{
   min-width: 18%;
   margin-right: 3%;

  }
  .seller_coments--link{
    font-size: 1rem;
  }
  .seller_schedule--link{
    font-size: 1.5rem;
  }
  .seller_schedule{
    min-width: 15%;
  }
  .seller_button--item{
    width: 70px;
    height: 30px;
    font-size: 1rem;
  }
  .shoppingcar_container{
  margin-top: 30px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  max-height: 83.3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  }
  .shoppingcar_table{
    font-size: 1.2rem;
  }

}
