body{
  background-image: url(../assets/background-image.webp);
}

.login-box{
  display: flex;
  justify-content: center;
  background-color: rgb(214, 226, 255);
  margin: auto;
  width: 80%;
  padding: 2rem;
}

.login-form{
  display: flex;
  flex-direction: column;
  margin: 2rem 0rem 2rem 0rem;
}

.login-form .text{
  margin: 0.5rem 0rem 1rem 0rem;
}

.login-form a{
  text-align: center;
  font-size: 0.75rem;
}

.login-form .submit{
  background-color: rgb(0, 90, 197) ;
  color: rgb(255, 255, 255);
  padding: 1rem;
  margin: 2rem 0rem 1rem 0rem
}

.logo{
  width: 7rem;
  height: 7rem;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  bottom: -3rem;
}

.logo h2{
  color: rgb(255, 255, 255);
}

@media(min-width:768px){
  .box{
    float: left;
    width: 50%;
    height: 35rem;
    display: flex;
   
  } 

  .logo{
    width: 18rem;
    height: 18rem;
    bottom: 0rem;
  }

}
