<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/buy.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>WorkIt-Comprador</title>
</head>
<body>
    <header>
        <div class ="logo_container">
            <img src="../assets/logo.svg" alt="logo" class="logo">
        </div>
        <div class = "header_container">
            <div class="header_container--title">
                <p>Clases de Matematicas</p>
                <h1 class="WorkIt">WorkIt!</h1>
                <p>Servicios Vituales</p>
            </div>
        </div>
        <nav>
          <input type="checkbox" id="click" class ="click">
          <label for="click" class="menu-btn">
          <i class="fas fa-bars"></i>
          </label>
          <ul>
            <h1 class="WorkIt">WorkIt!</h1>
            <input type="checkbox" id="click" class ="click">
          <label for="click" class="menu-btn">
          <i class="fas fa-bars"></i>
          </label>
             <li><a class="active" href="#">Home</a></li>
             <li><a href="#">Comprar</a></li>
         <li><a href="#">Vender</a></li>
                 <li><a href="#">Calendario</a></li>
         <li><a href="#">Carrito</a></li>
         <li><u><a href="#"> Mi Perfil </a></u></li>
          </ul>
       </nav>
    </header>
    <section class="finder_section">
        <div class ="finder_section--container">
            <span>
                <p> Tipo de Servicio</p>
                <input type="search" class="section_finder--span" value="Virtual">
            </span>
            <span>
                <p> Area de servicio</p>
                <input type="search"  class="section_finder--span" value="Clases">
            </span>
            <span>
                <p> Especificación</p>
                <input type="search"  class="section_finder--span" value="Matematica">
            </span>
        </div>
        <div class ="finder_section--container">
            <span>
                <p> Pais</p>
                <input type="search" class="section_finder--span" value="Colombia">
            </span>
            <span>
                <p> Departamento</p>
                <input type="search"  class="section_finder--span" value="Antioquia">
            </span>
            <span>
                <p>Ciudad</p>
                <input type="search"  class="section_finder--span" value="Medellín">
            </span>
        </div>
    </section>
    <section class="main_body">
      <section class ="seller_container">
              <div class ="seller_container--square">
                <div class="seller_photo">
                  <img class="seller_photo--image" src="../assets/photo.jpg" alt="photo">
                </div>
                <div class="seller_data">
                  <p class="seller_data--item">Mr. X</p>
                  <p >Medellín</p>
                  <p >$150.000 Cop.</p>
                </div>
                <div class="seller_calification">
                  <img class="seller_calification--item" src="../assets/icon-star.png" alt="star">
                  <img class="seller_calification--item" src="../assets/icon-star.png" alt="star">
                  <img class="seller_calification--item" src="../assets/icon-star.png" alt="star">
                  <img class="seller_calification--item" src="../assets/icon-star.png" alt="star">
                  <img class="seller_calification--item" src="../assets/icon-star.png" alt="star">
                </div>
                <div class="seller_coments">
                  <li class="seller_coments--text">Muy cumplido</li>
                  <li class="seller_coments--text">Muy buen profesor</li>
                  <a class="seller_coments--link"href="">Más comentarios</a>
                </div>
                <div class="seller_schedule">
                  <a class="seller_schedule--link"href="">Ver agenda disponible</a>
                </div>
                <div class="seller_button">
                  <input class="seller_button--item" type="button" value="Contratar">
                </div>
              </div>
              <div class ="seller_container--square">
                <div class="seller_photo">
                  <img class="seller_photo--image" src="../assets/photo.jpg" alt="photo">
                </div>
                <div class="seller_data">
                  <p class="seller_data--item">Mr. X 2.0</p>
                  <p >Bogotá</p>
                  <p >$100.000 Cop.</p>
                </div>
                <div class="seller_calification">
                  <img class="seller_calification--item" src="../assets/icon-star.png" alt="star">
                  <img class="seller_calification--item" src="../assets/icon-star.png" alt="star">
                  <img class="seller_calification--item" src="../assets/icon-star.png" alt="star">
                  <img class="seller_calification--item" src="../assets/icon-star.png" alt="star">
                </div>
                <div class="seller_coments">
                  <li class="seller_coments--text">Me gustó mucho</li>
                  <li class="seller_coments--text">Experto en fracciones</li>
                  <a class="seller_coments--link"href="">Más comentarios</a>
                </div>
                <div class="seller_schedule">
                  <a class="seller_schedule--link"href="">Ver agenda disponible</a>
                </div>
                <div class="seller_button">
                  <input class="seller_button--item" type="button" value="Contratar">
                </div>
              </div>
              <div class ="seller_container--square">
                <div class="seller_photo">
                  <img class="seller_photo--image" src="../assets/photo.jpg" alt="photo">
                </div>
                <div class="seller_data">
                  <p class="seller_data--item">Mr. X 3.0</p>
                  <p >Medellín</p>
                  <p >$80.000 Cop.</p>
                </div>
                <div class="seller_calification">
                  <img class="seller_calification--item" src="../assets/icon-star.png" alt="star">
                  <img class="seller_calification--item" src="../assets/icon-star.png"alt="star">
                </div>
                <div class="seller_coments">
                  <li class="seller_coments--text">Se demoró en llegar a la clase</li>
                  <li class="seller_coments--text">no sabía mucho del tema</li>
                  <a class="seller_coments--link"href="">Más comentarios</a>
                </div>
                <div class="seller_schedule">
                  <a class="seller_schedule--link"href="">Ver agenda disponible</a>
                </div>
                <div class="seller_button">
                  <input class="seller_button--item" type="button" value="Contratar">
                </div>
              </div>

      </section>
      <aside class="shoppingcar_container">
        <div class="shoppingcar_tittle">
          <h2 class="shoppingcar_tittle--item">Carrito de Compras</h2>
        </div>
        <table class="shoppingcar_table">
          <tr class="shoppingcar_table--file" >
            <td class="shoppingcar_table--column">Mueble de madera</td>
            <td class="shoppingcar_table--column">$800.000 Cop.</td>
          </tr>
          <tr class="shoppingcar_table--file">
            <td class="shoppingcar_table--column">limpieza de hogar</td>
            <td class="shoppingcar_table--column">$80.000 Cop.</td>
          </tr>
          <tr class="shoppingcar_table--file">
            <td class="shoppingcar_table--column">Pintar pared</td>
            <td class="shoppingcar_table--column">$200.000 Cop.</td>
          </tr>
        </table>
        </div>
        <div class="shoppingcar_buttons" >
          <input class="shoppingcar_buttons--item" type="button" value="pagar">
          <input class="shoppingcar_buttons--item" type="button" value="limpiar">
        </div>
      </aside>
   </section>
</body>
</html>
