<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../css/userProfileStyle.css">
</head>
<body>
  <div class="container">
    <div class="container_userPanel">
      <h2><a href="#">Volver</a></h2>
      <div class="container_imageContainer"><img class="container_imageContainer--userImage" src="../assets/userMock.png" alt="profile"></div>
    </br></br><h2><a href="#">Mis datos</a></h2></br></br>
      <h2><a href="#">Historial de negocios</a></h2>
    </div>
    <div class="contentProfile">
      <table class="contentProfile_userProfileTable">
          <tr>
              <td><h2><strong>Nombre de Usuario:</strong></h2></td>
              <td>userTest1</td>
          </tr>
          <tr>
              <td><h2><strong>Nombres:</strong></h2></td>
              <td>Darwin</td>
          </tr>
          <tr>
              <td><h2><strong>Apellidos:</strong></h2></td>
              <td>Pedraza Carvajal</td>
          </tr>
          <tr>
              <td><h2><strong>Correo:</strong></h2></td>
              <td>usertest1@workit.com</td>
          </tr>
          <tr>
              <td><h2><strong>País:</strong></h2></td>
              <td>España</td>
          </tr>
          <tr>
              <td><h2>Ciudad:</h2></td>
              <td>Málaga</td>
          </tr>
          <tr>
              <td><h2>Dirección:</h2></td>
              <td>Avenida siempre viva # 123</td>
          </tr>
      </table>
    </div>
  </div>
</body>
</html>

