.cardClientRequest{
  display: flex;
  width:auto;
  height: auto;
  background-color: rgba(2, 2, 2, 0.377);
  border-radius: 0.5rem;
  &_userData{
    width: 50%;
    padding: 0rem 1rem 0rem 1rem;
    font-size: 1rem;
  }
  &_servicerequested{
    width: 35%;
    padding: 0rem 1rem 0rem 1rem;
    font-size: 1rem;
  }
  &_buttonsBar{
    width: 25%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &--button{
      width:3rem;
      height: 1.5rem;
      font-size: 72%;
    }
  }
}

@media (min-width: 1025px){
  .cardClientRequest{
    display: flex;
    background-color: rgba(2, 2, 2, 0.377);
    border-radius: 1rem;
    &_userData{
      width: 50%;
      padding: 0rem 1rem 0rem 1rem;
      font-size: 1.5rem;
    }
    &_servicerequested{
      width: 35%;
      padding: 0rem 1rem 0rem 1rem;
      font-size: 1.5rem;
    }
    &_buttonsBar{
      width: 25%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      &--button{
        width:3rem;
        height: 1.5rem;
        font-size: 72%;
      }
    }
  }
}
