$gray: rgb(23, 31, 31);
$blue: rgb(33, 74, 84);
$orange: rgb(212, 140, 102);
$yellow: rgb(217, 196, 125);
$white: rgb(232, 232, 193);

#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}

.containerTitle{
  color: $gray;
  display: flex;
  font-size: 4rem;
  justify-content: center;
  margin: 2rem 2rem;
}
.containerCard{
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 4rem;
  width: auto;
}
@media (min-width:1025px){
  .Home {
    background-image: url('../../assets/background.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    width: 100%;
  }
  .containerTitle{
    font-size: 5rem;
    justify-content: flex-end;
    position: relative;
    right: 5rem;
    width: 100%;
  }
  .containerCard{
    flex-direction: row;
    justify-content: space-around;
  }
}
