$gray: rgb(23, 31, 31);
$blue: rgb(33, 74, 84);
$orange: rgb(212, 140, 102);
$yellow: rgb(217, 196, 125);
$white: rgb(232, 232, 193);

.editservice__card{
  background-color: $blue;
  border-radius: 1rem;
  color: $yellow;
  margin: 2rem auto;
  padding: 2rem;
  position: relative;
  width: 80%;
}
.editservice__form{
  display: flex;
  font-size: 1.7rem;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

  input{
    border-color: $gray;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 0.2rem;
    font-size: 1.5rem;
  }

  select{
    border-color: $gray;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 0.2rem;
    font-size: 1.5rem;
  }

  textarea{
    border-color: $gray;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 0.2rem;
    font-size: 1.5rem;
  }
}

.containerUser{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;

  &_imageContainer--userImage{
    height: 60%;
    width: 80%;
  }
}

@media(min-width: 576px){
  .editservice__card{
    width: 60%;

  }
}

@media(min-width: 768px){
  .editservice__card{
    width: 40%;

  }
}

@media(min-width: 1025px){
  .editservice__error{
    color: $orange;
    font-size: 1rem;
    font-weight: lighter;
  }
}

