.seller{
  font-size: 7rem;
  &_Title{
    display: flex;
    justify-content: center;
    width: auto;
  }
}
.bodySeller{
  width: auto;
  height: 100vh;
  display: flex;
}
.servicesList{
  width: 50%;
  height: 100vh;
}
.activeClientsList{
  width: 50%;
  height: 100vh;
}
