.userProfile{
  display: block;
  width: auto;

  .containerUser{
    background-color:black;
    width: 100%;
    border-radius:  0 0 2rem 2rem;
    &_imageContainer{
      padding-top: 4rem;
      display: flex;
      justify-content: center;
      width: 100%;
      &--userImage{
        border-radius: 10%;
        background-color: white;
        height: 30%;
        width: 30%;
      }
    }
    &_buttonsProfile{
      display: flex;
      justify-content: space-around;
    }
  }
  .contentProfile{
    padding: 2rem 0rem;
    display: flex;
    justify-content: center;
    width: 100%;
    &_userProfileTable{
      height: 50vh;
      width: 90%;
      font-size: 1.7rem;
      background-color:rgba(0, 0, 0, 0.13);
      border-radius: 1.5rem;
    }
  }
  .userProfileButton{
    background-color: rgba(22, 22, 219, 0);
    border: none;
    color: white;
    display: block;
    height: auto;
    margin: 0.5rem;
    padding: 5rem 0.5rem 0.5rem 2rem;
    width: auto;
    font-size: 1.5rem;
  }
}

@media (min-width:1025px){
  .userProfile{
    background-image: url('../../assets/backgroundStyle2.jpeg');
    background-size: cover;
    display: flex;

    .containerUser{
      padding: 0rem;
      width: 25%;
      border-radius:0;
      &_imageContainer--userImage{
        height: 60%;
        width: 60%;
      }
      &_buttonsProfile{
        display: block;
      }
    }
    .contentProfile{
      align-items: center;
      height: 100vh;
      padding: 0rem;
      width: 75%;
      &_userProfileTable{
        height: 60vh;
        font-size: 1.7rem;
        background-color: rgba(255, 255, 255, 0.384);
      }
    }
    .userProfileButton{
      background-color: rgba(22, 22, 219, 0);
      color: white;
      font-size: 1.5rem;
    }
  }
}
.choose::-webkit-file-upload-button {
  margin-left: 20%;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: white;
  color: white;
  display: inline-block;
  background: #1CB6E0;
  border: none;
  padding: 7px 15px;
  font-weight: 700;
  border-radius: 3px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 10pt;
}
.updateimage{
  margin-top: 2%;
  background-color: gray;
}