$gray: rgb(14, 6, 111);
$blue: rgb(46, 33, 84);
$orange: rgb(212, 140, 102);
$yellow: rgb(217, 196, 125);
$white: rgb(255, 255, 255);

.modal{
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 5;

  &__content{
    display: flex;
    background-color: $white;
    border: $gray 0.4rem solid;
    border-radius: 2rem;
    height: auto;
    justify-content: center;
    margin: auto;
    padding: 2rem;
    position: relative;
    top: 15%;
    width: 30%;
  }

  &__close{
    cursor: pointer;
    background-color: transparent;
    border-width: 0rem;
    font-size: 4rem;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 5%;
  }
}
