.containerCard__cardbox{
    height: 35%;
    padding-top: 1rem;
    position: relative;
    width: 100%;
}
.containerCard__cardbox--imageBackground{
    border-radius: 1rem;
    height: 100%;
    width: 100%;
}
.containerCard__cardbox--nameService{
    background:linear-gradient(rgba(0, 0, 0, 0.753), rgba(128, 128, 128, 0));
    border-radius: 1rem;
    color: white;
    font-family:Helvetica, sans-serif;
    font-size: 2.3rem;
    padding: 2rem;
    position: absolute;
    text-align: center;
    top: 1rem;
    width: 100%;
}
@media (min-width:1025px){
    .containerCard__cardbox{
        padding-top: 0;
        height: 55%;
        position: relative;
        width: 19%;
    }
    .containerCard__cardbox--nameService{
        padding: 1rem;
        top: 0;
    }
}
