.cardClientRequest{
  display: flex;
  width:auto;
  height: auto;
  background-color: rgba(2, 2, 2, 0.377);
  border-radius: 0.5rem;
  &_userData{
    width: 50%;
    padding: 0rem 1rem 0rem 1rem;
    font-size: 1rem;
  }
  &_servicerequested{

    width: 35%;
    padding: 0rem 1rem 0rem 1rem;
    font-size: 1rem;
  }
  &_buttonsBar{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &--button{
      background-image: linear-gradient(to bottom right, rgb(255, 255, 255),rgb(180, 180, 255));
      border-color: rgb(0, 0, 0);
      border-style: solid;
      border-radius: 0.5rem;
      font-size: 1rem;
      cursor: pointer;
      font-weight: 500;
      margin: 0.5rem;
      padding: 0rem 1rem;
      width: auto;
    }
  }
}

@media (min-width: 1025px){
  .cardClientRequest{
    display: flex;
    background-color: rgba(2, 2, 2, 0.377);
    border-radius: 1rem;
    &_userData{
      width: 50%;
      padding: 0rem 1rem 0rem 1rem;
      font-size: 1.5rem;
    }
    &_servicerequested{
      width: 35%;
      padding: 0rem 1rem 0rem 1rem;
      font-size: 1.5rem;
    }
    &_buttonsBar{
      width: 25%;
      height: auto;
      display: flex;
      justify-content: center;
      gap:15px;
      align-items: center;
      margin-right: 10px;
      &--button{
        background-image: linear-gradient(to bottom right, rgb(255, 255, 255),rgb(180, 180, 255));
        border-color: rgb(0, 0, 0);
        border-style: solid;
        border-radius: 0.5rem;
        font-size: 1rem;
        cursor: pointer;
        font-weight: 500;
        margin: 0.5rem;
        padding: 0rem 1rem;
        width: auto;
      }
    }
  }
}
