.brand{
    width: 50%;
    background-color: rgba(250, 250, 250, 0.397);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 80%;
    height: 40%;
}
