$white: rgb(255, 255, 255);
$soft-grey: rgb(200, 200, 200);
$dark-grey: rgb(150, 150, 150);
$black: rgb(0, 0, 0);

.shoppingcart__card {
  background-color: $soft-grey;
  border-color: $black;
  border-width: 0.1rem;
  border-style: solid;
  height: 100%;
  margin: auto;
  width: 100%;
}

.shoppingcart__content {
  margin: auto;
  padding: 1rem 0rem;
  width: 80%;
}

.shoppingcart__info {
  &--title {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 3rem 0rem;
    text-align: center;
  }
  &--type {
    font-size: 1.4rem;
  }
}

.shoppingcart__total {
  font-size: 2rem;
  font-weight: 700;
  padding: 2rem 0rem;
}

.shoppingcart__purchase {
  align-items: center;
  display: flex; justify-content: center;
  padding: 1rem 0rem;
}
