$gray: rgb(23, 31, 31);
$blue: rgb(33, 74, 84);
$orange: rgb(212, 140, 102);
$yellow: rgb(217, 196, 125);
$white: rgb(232, 232, 193);

.servicedetail {
  color: $gray;
  display: grid;
  grid-template-rows: 25rem 10rem 20rem 25rem;
  margin: 2rem 1rem;

  &__subtitle {
    font-size: 2rem;
    margin: 2rem;
  }

  &__text {
    font-size: 1.5rem;
    margin: 1rem;
  }

  &__seller {
    grid-row: 2 / 3;
  }

  &__figure {
    grid-row: 1 / 2;
    height: 25rem;
    width: 100%;
  }

  &__image {
    height: 100%;
    width: 100%;
  }

  &__cart {
    grid-row: 4 / 5;
  }

  &__desc {
    grid-row: 3 / 4;
  }

  &__mercado {
    align-items: center;
    background-color: $yellow;
    border: solid 0.3rem $gray;
    border-radius: 0.5rem;
    display: flex;
    padding: 0.5rem;
  }
}

@media (min-width: 850px) {
  .servicedetail {
    display: grid;
    grid-template: 5rem 25rem 10rem 20rem / 5rem 2fr 10rem 1fr 5rem;

    &__seller {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }

    &__cart {
      grid-column: 4 / span 1;
      grid-row: 2 / span 1;
    }

    &__figure {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    &__desc {
      grid-column: 2 / 3;
      grid-row: 4 / 5;
    }
  }
}
