.Header_Container{
    background-color: rgb(0, 0, 0);
}
.Header_nav{
    display:flex;
    list-style:none;
    justify-content: space-around;
    align-items: center;
}
.Header_nav--item{
    display: none;
    font-size: 1.7rem;
    color: white;
    text-decoration: none;
    min-height: 40px;
}
.Header_nav--item:hover{
    font-weight:600;
}
.perfil_text{
    text-decoration:underline;
}
.Header_img{
    max-width:16%;
    margin:10px;
    left: 20px;
}
@media(min-width: 1025px){
    .Header_nav--item{
        display: block;
        text-align: right;
        min-height: auto;
    }
    .Header_img{
    max-width:4%;
    margin:0px;
    margin-right:5%;
    }
}
