$gray: rgb(23, 31, 31);
$blue: rgb(4, 60, 138);
$orange: rgb(212, 140, 102);
$yellow: rgb(255, 255, 255);
$white: rgb(232, 232, 193);

.Header_Container{
    align-items: center;
    background-color: $blue;
    border-bottom: 1rem $gray solid;
    display: flex;
    height: 6rem;
}
.header-nav__link{
    color: $yellow;
    text-decoration: none;

}
.Header-nav__image{
  width: 2rem;
  height: 2rem;
  padding-top: 0.3rem;
}
.Header_nav{
    align-items: center;
    display:flex;
    justify-content: space-around;
    list-style:none;
    width: 100%;
}
.Header_nav--item{
    font-size: 1.8rem;
    color: $yellow;
    cursor: pointer;
    display: none;
    font-weight: 600;
    min-height: 40px;
    text-decoration: none;
}
.Header_img{
    max-width:16%;
    margin:10px;
    left: 20px;
}

@media(min-width: 725px){
    .Header_img{
        max-width:5%;
        margin:0px;
        margin-right:5%;
    }
}

@media(min-width: 1025px){
    .Header_nav--item{
        display: block;
        text-align: right;
        min-height: auto;
    }
    .Header_img{
        max-width:3%;
        margin:0px;
        margin-right:5%;
    }
}
