*{margin: 0; padding: 0; font-size: 62.5%}
.page404{
  display: flex;
  justify-content: center;
}
.title{
  width: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  font-size: 3rem;
  text-align: center;
}
