.brand{display: none;}
.logo{display: none;}

@media (min-width:1025px){
    .brand{
        align-items: center;
        backdrop-filter: blur(10px);
        background-color: rgba(139, 137, 137, 0.544);
        box-sizing: border-box;
        display: flex;
        height: 100vh;
        justify-content: center;
        width: 100%;
    }
    .logo{
        display:block;
        height: 50%;
        width: 120%;
    }
}
