$black: rgb(0, 0, 0);

.login{
  color: $black;
  display: flex;
  flex-direction: column;
  font-size: 2.2rem;
  font-weight: bold;

  &__title{
    text-align: center;
    font-size: 2.5rem;
    margin: 1rem 0rem;
  }

  &__text{
    margin: 2rem 0rem 0.5rem 0rem;
  }

  &__link{
    margin: 2rem 0rem 2rem 0rem;
    text-align: center;
  }
}

