
.bm-burger-button {
    
    position: fixed;
    width: 36px;
    height: 30px;
    left: 4%;
    top: 1.3%;
  }
  .bm-burger-bars {
    background: #ffffff;
  }
  .bm-burger-bars-hover {
    background: #a90000;
  }
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  .bm-cross {
    background: #ffffff;
  }
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    width: 80vh;
  }
  .bm-menu {
    background: #000000;
    padding: 0rem 7.5rem 0;
    font-size: 6.15rem;
  }
  .bm-morph-shape {
    fill: #373a47;
  }
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
    margin-top: 1rem;
  }
  .bm-item {
    display: inline-block;
    margin-top: 50px;
  }
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  .Header_imgs{
    max-width:100%;
}
@media(min-width: 1025px){
    .bm-burger-button {
        display:none;
    }
}