$gray: rgb(23, 31, 31);
$blue: rgb(33, 74, 84);
$orange: rgb(212, 140, 102);
$yellow: rgb(217, 196, 125);
$white: rgb(232, 232, 193);

:root {
  font-size: 62.5%;
  font-family: Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(222, 222, 180);
  box-sizing: border-box;
}

