.cardService{
  display: flex;
  background-color: rgba(2, 2, 2, 0.377);
  border-radius: 0.5rem;
  &_serviceTitle{
    width: auto;
  }
  &_containerImageService{
    display: block;
    width: 140px;
    height: 140px;
    &--image{
      border-radius: 0.5rem 0rem 0rem 0.5rem;
      width: 100%;
      height: 100%;
    }
  }
  &_infoServiceList{
    padding: 0rem 1rem 0rem 1rem;
    font-size: 2rem;
  }
}

@media (min-width: 1025px){
  .cardService{
    &_serviceTitle{
      width: 60%;
    }
    &_containerImageService{
      width: 150px;
      height: 150px;
    }
    &_infoServiceList{
      font-size: 2.3rem;
    }
  }
}
