<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WorkIt!</title>
    <link rel="stylesheet" href="../css/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav>
      <div class="logo">
        WorkIt!
      </div>
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>

      <ul>
        <li><a class="active" href="#">Home</a></li>
        <li><a href="#">Comprar</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Calendario</a></li>
        <li><a href="#">Carrito</a></li>
        <li><u><a href="#"> Mi Perfil <img class = "icon" src="../assets/icon.png"></a></u></li>
      </ul>
    </nav>
    <h1>
      Bienvenido de vuelta,<b> user2345!</b>
    </h1>
    <div class="box">

      <div>Contratar Servicio</div>        <div>Ofertar Servicio</div>
      <div>Mi Agenda</div>
      <div>Contacto</div>

    </div>

  </body>
</html>
