$gray: rgb(23, 31, 31);
$blue: rgb(33, 74, 84);
$orange: rgb(212, 140, 102);
$yellow: rgb(217, 196, 125);
$white: rgb(255, 255, 255);


.button:enabled{
  color: $white;
  background-color: rgb(4, 60, 138);
  border-color: rgb(4, 60, 138);
  border-radius: 1rem;
  border-style: solid;
  cursor: pointer;
  padding: 1rem 1rem;

  &:hover{
    transform: scale(1.03);
  }

  &:active{
    transform: scale(0.98);
  }
}

button:disabled{
  color: $gray;
  background-color: gray ;
  border-color: black;
  border-radius: 1rem;
  border-style: solid;
  cursor:not-allowed;
  padding: 1rem 1rem;
  &:hover{
    transform: scale(1.03);
  }

  &:active{
    transform: scale(0.98);
  }
}
